body {
    text-align: center;
}

button {
    margin: 3px;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
}

img {
    width: 150px;
    margin: 20px 0;
}